body{
	background-color: rgb(235,235,235);
	margin,padding: 0;
}
.head-img{
	width: 1580px;
	height: 200px;
}
.nav {
	padding-left: 430px;
	text-align: center;
}
.nav li {
	padding: 5px 5px;
	font-size: 18px;
}
.nav li a:hover{
	text-decoration: underline;
	color: rgb(231,175,95);
}
.container{
	padding:30px 40px;
}
.content-left{
	float: left;
	width: 660px;
	background-color: white;
}
.blog{
	margin-bottom:20px;
	 
	padding: 20px 30px;
	width: 650px;
}
.blog img{
	width: 600px;
	height: 380px;
}
.blog p{
	margin-top: 10px;
}

.content-right{
	float: left;
	margin-left: 45px;
}
.content-right>div{
	background-color: white;
	width: 350px;
	padding: 20px 30px;
	margin-bottom: 20px;
}

.comm h2,.download h2,.labelcloud h2{
	border-bottom: 1px solid rgb(235,235,235);
	padding-bottom: 10px;
}
.comm a{
	color: rgb(231,175,95);
}
.download a{
	display: block;
	margin-top: 20px;
}
.labelcloud a{
	display: inline-block;
	margin-right: 6px;
	padding-left: 6px;
	padding-right: 6px;
}
